.block {
    font-family: Impact;
    color: navy;
    font-size: large;
    text-align: center;
}

.search {
    width: 200px;
    color: navy;
}
.teams_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    }

.team_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: medium;
    font-family: Impact;
    color:navy;
        }
.img {
    width: 50px;
    margin-left: 80px;
}
@media (max-width: 360px) {
    .team_row{
        font-size: small;
    }
    .img {
        width: 30px;
        height: 20px;
        margin-left: 30px;
    }
  }
