.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: navy;
    font-size: medium;
    text-align: left;
}
.m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: cursive;
    color: navy;
    font-size: medium;
    text-align: left;
}

.search {
    width: 200px;
    color: navy;
}
.img {
    width: 100px;
}
.h1 {
    color: navy;
}