.block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-family: Impact;
    color: navy;
    font-size: medium;
    text-align: left;
}

.top_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    font-family: Impact;
    color: navy;
    font-size: medium;
    text-align: left;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: navy;
    margin-right: 30px;
}
.h1 {
    color: navy;
}

@media (max-width: 720px) {
    .block {
        font-size: small;
    }
    .search {
        margin-right: 5px;     
        margin-right: 50px;
        flex-direction: row;
    }
    .top_row {
        font-size: small;
        flex-direction: column;
    }
}
@media (max-width: 360px) {
    .block {
    font-size: small;
    }
    .top_row {
        flex-direction: column;
        font-size: small;
    }
    .search {
        flex-direction: column;
    }
}
