.block {
    grid-area: h;
    height: 200px;
    display: flex;
    justify-content: space-between;
  }
  .block .h1 {
    text-align: left;
    color: navy;
    font-family: Impact;
    font-size: 100px;
    line-height: 80px;
    margin: 20px 0px 0px 20px;
  }
  
  .block .img {
    width: 800px;
  }