.block {
    grid-area: n;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .block__buttons {
    display: flex;
  }
  
  .block__select {
    display: flex;
  }
  
  .block .button {
    border-radius: 20px;
    border-color: navy;
    width: 222px;
    height: 50px;
    border-width: 5px;
    text-align: center;
    color: navy;
    font-family: Impact;
    font-size: 16px;
    line-height: 10px;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    outline: none;
  }
  .block .button:hover {
    background: turquoise;
    cursor: pointer;
  }
  .block .button:focus {
    background: skyblue;
    cursor: pointer;
    outline: none;
  }