.block {
  display: flex;
  margin: 0px 0px 0px 20px;
}
.h3 {
  color: navy;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 10px;
  text-align: end;
  line-height: 15px;
  font-size: 20px;
}
